.product-cart__box {
    padding: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    width: 250px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.product-cart__box:hover {
    padding: 8px;
    box-shadow: none;
    width: 250px;
    border-radius: 5px;
}

.product-img {
    width: 220px;
    height: 150px;
    object-fit: contain;
}

.img__container {
    width: 250px;
}

.product__title {
    font-size: 18px;
    font-weight: 600;
}

.product__price {
    color: red;
    font-size: 22px;
}

.product__currency {
    font-size: 18px;
    color: black;
}

.product-btn__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.btn__add-to-cart {
    background: blueviolet;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.product__discount {
    font-size: 14px;
}

.btn__add-to-cart:hover {
    background: rgb(108, 33, 178);
}