.container {
  max-width: 1400px;
  padding: 20px 10px;
  margin: auto;
}

.loading__box {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.product-cart__container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 350px;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cart__container {
  width: 100%;
}
